<h1>Your team's superheroes</h1>
<h3><%= @team[:name] %> </h3>
<h3><%= @team[:motto] %> </h3>
<h3><%= @team[:members][:super1][:name] %> </h3>
<h3><%= @team[:members][:super1][:power] %> </h3>
<h3><%= @team[:members][:super1][:bio] %> </h3>
<h3><%= @team[:members][:super2][:name] %> </h3>
<h3><%= @team[:members][:super2][:power] %> </h3>
<h3><%= @team[:members][:super2][:bio] %> </h3>
<h3><%= @team[:members][:super3][:name] %> </h3>
<h3><%= @team[:members][:super3][:power] %> </h3>
<h3><%= @team[:members][:super3][:bio] %> </h3>
